{% if pageCount > 1 %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
    {% if previous is defined %}
        <li class="page-item">
        <a class="page-link" href="{{ path(route, query|merge({(pageParameterName):previous}))}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
    {% endif %}
    {% for page in pagesInRange %}
        {% if page != current %}
            <li class='page-item' aria-current="page">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName):page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class='page-item active' aria-current="page">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName):page})) }}">{{ page }}</a>
            </li>
        {% endif %}
    {% endfor %}
        {# <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li> #}
        {% if next is defined%}
        <li class="page-item">
        <a class="page-link" href="{{ path(route, query|merge({(pageParameterName):next}))}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
        </li>
    {% endif %}
    </ul>
</nav>
{% endif %}