{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <h1 class="text-center mb-5" style="margin-top:3em;">Gestion des Catégories</h1>
    <div class="category-card">
    {% include 'layouts/_flash_message.html.twig' %} 

        <table class="table table-striped-columns">
            <thead>
                <tr>
                    <th scope="col">Nom de la catégorie</th>
                    <th scope="col" class="col-md-2 text-center">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for category in category %}
                <tr>
                    <th scope="row" class="fw-lighter"> {{category.name}}</th>
                    <td class="text-center">
                        <a href="{{ path('app_category_update', {'id': category.id}) }}" class= 'btn btn-sm '>✏️</a>
                        <a href="{{ path('app_category_delete', {'id': category.id}) }}" class= 'btn btn-sm ' onclick="return confirm('Es-tu sûr de vouloir supprimer cet élément ?');">❌</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>




        <div class="d-grid gap-2 d-md-flex justify-content-md-end mx-2">
            <a class="btn btn-green btn-sm" href="{{ path('app_category_new') }}">Ajouter une categorie</a>
            <a href="{{ path('app_home_page') }}" class="btn btn-sm btn-outline-green">Retour</a>
        </div>
    </div> 
{% endblock %}
