{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
{# ---------------------------------le tableau d'affichage--------------------------- #}

<div class="example-wrapper">
    <h1 class="text-center " style="margin-top:3em;">Vos categories</h1>
    <div class="categoryCard">
    {% include 'layouts/_flash_message.html.twig' %} 



        <table class="table table-striped-columns">
            <thead>
                <tr>
                    <th scope="col">Nom de la catégorie</th>
                    <th scope="col" class="col-md-2 text-center">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for category in category %}
                <tr>
                    <th scope="row"> {{category.name}}</th>
                    <td class="text-center">
                        <a href="{{ path('app_category_update', {'id': category.id}) }}" class= 'btn btn-sm '>✏️</a>
                        <a href="{{ path('app_category_delete', {'id': category.id}) }}" class= 'btn btn-sm ' onclick="return confirm('Es-tu sûr de vouloir supprimer cet élément ?');">❌</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>




        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-primary" href="{{ path('app_category_new') }}">Ajouter une categorie</a>
            <a href="{{ path('app_home_page') }}" class="btn btn-outline-primary">Retour</a>
        </div>
    </div> 
</div>
{% endblock %}
