{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1 class="text-center mb-5" style="margin-top:3em;">Tout les produits</h1>
    <div class="product-card">
    {% include 'layouts/_flash_message.html.twig' %} 
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th scope="col" class="text-center">image</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col" class="text-center" >Stock</th>
                    <th scope="col" class="text-center">Prix</th>
                    
                    {# <th scope="col" class="col-2 text-center">Actions</th> #}
                </tr>
            </thead>
            <tbody class="align-middle">

            {% for product in products %}
                <tr>
                    <td scope="row" class="text-center">
                        <a href="{{ path('app_product_show', {'id': product.id}) }}" class= 'btn btn-sm'>
                            <img src="{{ asset('uploads/images/' ~ product.image) }}" alt="image" width="50" height="50">
                        </a>
                    </td>
                    <td scope="row" class="">                      
                        <a href="{{ path('app_product_show', {'id': product.id}) }}" class= 'btn btn-sm fw-bold'>
                            {{ product.name }}
                        </a>
                    </td>

                    <td scope="row" class="fw-lighter">{{ product.description|slice(0,100) }} ...</td> {#pour reduit la taille si ya une grand descri #}
                    <td scope="row" class="fw-lighter text-center">
                        {% if product.stock > 0 %}
                            <span>{{ product.stock }}</span>
                        {% else %}
                            <span>‼️</span>
                        {% endif %}
                        
                    </td>
                    <td scope="row" class="fw-lighter text-center">{{ product.prix }} €</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mx-2">
            <a href="{{ path('app_product_new') }}" class="btn btn-sm btn-secondary" >Ajouter un Produit</a>
            <a href="{{ path('app_home_page') }}" class="btn btn-sm btn-outline-secondary">Retour</a>
        </div>
    </div>
{% endblock %}
