{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<div class="login-card">
    <h2 class="mb-4 text-center">l'affichage de produit</h2>
        <img src="{{ asset('uploads/images/' ~ product.image) }}" alt="Photo de profil" style="max-width:180px; border-radius:50%;">


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>

            </tr>
        </tbody>
    </table>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{{ path('app_product_index') }}" class="btn btn-sm btn-primary">retour</a>

        <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-sm btn-primary">edit</a><br>

        <a href ="{{ path('app_product_add_history', {'id': product.id}) }}">affiche l'hostorique</a>
    </div>
</div>

{% endblock %}
