{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-between mt-4">
        <button class="btn btn-sm btn-primary">{{ button_label|default('Ajouter') }}</button>
        <a href="{{ path('app_sub_category_index') }}" class="btn btn-sm btn-outline-primary">retour</a>
    </div> 
{{ form_end(form) }}
