{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1 class="text-center " style="margin-top:3em;">{{title}}</h1>
    <div class="categoryCard">
    {% include 'layouts/_flash_message.html.twig' %} 

        <table class="table table-striped-columns">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row" class="fw-lighter"> {{user.firstName}}</th>
                    <th scope="row" class="fw-lighter"> {{user.lastName}}</th>
                    <th scope="row" class="fw-lighter"> {{user.email}}</th>
                    <th scope="row" class="fw-lighter"> 
                        {% for role in user.roles %}
                            {% if role == 'ROLE_ADMIN' %}
                                <button class="btn btn-xs btn-danger" disabled> Admin </button>
                            {% elseif role == 'ROLE_USER' %}
                                <button class="btn btn-xs btn-info" disabled> User</button>
                            {% elseif role == 'ROLE_EDITOR' %}
                                <button class="btn btn-xs btn-success" disabled> Éditeur</button>
                            {% else %}
                                {{ role|capitalize }}
                            {% endif %}
                        {% endfor %}
                    </th> 
                    <td class="text-center">
                      {% if ('ROLE_ADMIN' in app.user.roles)  %}
                        <a href="{{ path('app_user_update', {'id': user.id}) }}" class= 'btn btn-sm '>✏️</a> 
                        <a href="" class= 'btn btn-sm ' onclick="return confirm('Es-tu sûr de vouloir supprimer cet élément ?');">❌</a>
                      {% endif %}                     
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>




        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            {# <a class="btn btn-primary" href="{{ path('app_category_new') }}">Ajouter une categorie</a> #}
            <a href="{{ path('app_home_page') }}" class="btn btn-outline-primary">Retour</a>
        </div>
    </div> 
</div>
{% endblock %}
