{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
<div class="login-card">
    <h2 class="mb-4 text-center">Modifier l'utilisateur</h2>

    {{ form_errors(form) }}
    {{ form_start(form) }} 
      {# {{csrf_token(intention)}} #}

    <div class="name-row mb-3">
        <div class="form-group">
            {{ form_row(form.firstName) }}
        </div>
        <div class="form-group">
            {{ form_row(form.lastName) }} 
        </div>
    </div>

    <div class="form-group mb-3">
         {{ form_row(form.email) }} 
    </div>
    <div class="form-group mb-3">
         {{ form_widget(form) }} 
    </div>
    

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mx-2">
        <button type="submit" class="btn btn-sm btn-green">Modifier</button>
        <a href="{{ path('app_user') }}" class="btn btn-sm btn-outline-green">Retour</a>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}